$color-primary: #55c57a;
$color-primary-light: #f18a61b0;
$color-primary-dark: #060b52b9;
$color-primary-light1: #f18a61;
$color-primary-dark1: #060b52f6;
$color-white: #fff;
$color-black: #000;
$color-grey-dark: #777; 
$color-grey-light-1: #f7f7f7;