.composition
{
    position: relative;
   
    &__photo{
        width: 50%;
        position: absolute;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.377);
        border-radius: 7px;
        z-index:10;
        transition:all .3s;
        outline-offset: 1.3rem;

        &--p1
        {
            left:0;
            top:-2.5rem;
        }
        &--p2
        {
            right:0;
            top:2.5rem;
        }
        &--p3
        {
            left:20%;
            top:8rem;
        }

        &:hover
        {
            outline: 15px solid rgba(90, 21, 251, 0.767);
            transform:scale(1.15);
            box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.49);
            z-index:20;
        }
    }

    &:hover &__photo:not(:hover)
    {
       transform:scale(.95)
    }
}